<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title> Player | <%=client.user.username%> </title>
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css">
        <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@0ac23ca/css/all.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.js">
        <link rel="stylesheet" href="../<%=theme.theme%>" data-skin="default">
        <link rel="stylesheet" href="../<%=errtheme.errth%>">
      </head>
    <div class="app">
        <header class="app-header app-header-dark">
            <div class="top-bar">
              <div class="top-bar-brand">
                <h5>Discord BOT Dashboard</h5>
              </div>
              <div class="top-bar-list">
                <div class="top-bar-item px-2 d-md-none d-lg-none d-xl-none">
                  <button class="hamburger hamburger-squeeze" type="button" data-toggle="aside" aria-label="toggle menu"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button> <!-- /toggle menu -->
                </div>
                <div class="top-bar-item top-bar-item-right px-0 d-none d-sm-flex">
                  <div class="dropdown d-none d-md-flex">
                    <button class="btn-account" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="user-avatar user-avatar-md"><img src="https://cdn.discordapp.com/avatars/<%= profile.id %>/<%= profile.avatar %>" alt=""></span> <span class="account-summary pr-lg-4 d-none d-lg-block"><span class="account-name"><%= profile.username %></span> <span class="account-description">Admin</span></span></button> <!-- .dropdown-menu -->
                    <div class="dropdown-menu">
                      <div class="dropdown-arrow d-lg-none" x-arrow=""></div>
                      <div class="dropdown-arrow ml-3 d-none d-lg-block"></div>
                      <h6 class="dropdown-header d-none d-md-block d-lg-none"> <%= profile.username %> </h6><a class="dropdown-item" href="/logout"><span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <aside class="app-aside app-aside-expand-md app-aside-light">
            <div class="aside-content">
              <header class="aside-header d-block d-md-none">
                <button class="btn-account" type="button" data-toggle="collapse" data-target="#dropdown-aside"><span class="user-avatar user-avatar-lg"><img src="https://cdn.discordapp.com/avatars/<%= profile.id %>/<%= profile.avatar %>" alt=""></span> <span class="account-icon"><span class="fa fa-caret-down fa-lg"></span></span> <span class="account-summary"><span class="account-name"><%= profile.username %></span> <span class="account-description">Admin</span></span></button> <!-- /.btn-account -->
                <div id="dropdown-aside" class="dropdown-aside collapse">
                  <div class="pb-3">
                    <a class="dropdown-item" href="/logout"><span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
                  </div>
                </div>
              </header>
              <div class="aside-menu overflow-hidden">
                <nav id="stacked-menu" class="stacked-menu">
                  <ul class="menu">
                    <li class="menu-item">
                      <a href="/" class="menu-link"><span class="menu-icon fas fa-home"></span> <span class="menu-text">Dashboard</span></a>
                    </li>
                    <li class="menu-item">
                      <a href="/plugins" class="menu-link"><span class="menu-icon fas fa-rocket"></span> <span class="menu-text">Plugins</span></a>
                    </li>
                    <li class="menu-item">
                      <a href="/guilds" class="menu-link"><span class="menu-icon fas fa-server"></span> <span class="menu-text">Guilds</span></a>
                    </li>
                    <li class="menu-item">
                        <a href="/support" class="menu-link"><span class="menu-icon fas fa-question-circle"></span> <span class="menu-text">Support</span></a>
                    </li>
                    <li class="menu-item">
                        <a href="/settings" class="menu-link"><span class="menu-icon fas fa-cog"></span> <span class="menu-text">Settings</span></a>
                    </li>
                    <li class="menu-item has-active">
                        <a href="/player" class="menu-link"><span class="menu-icon fas fa-file-alt"></span> <span class="menu-text">Player</span></a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </aside>
          <body>
            <main class="app-main">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="center">
                            <div class="error-page">
                                <h1 class="error-code">Error</h1>
                                <h2 class="error-message"><%= error %></h2>
                                <p class="error-description">
                                    <% if (error === 'Player is not initialized') { %>
                                        The player is not initialized. Please make sure the player is properly initialized and try again.
                                    <% } else if (error === 'No music queue found') { %>
                                        No music queue found. Please add some songs to the queue and try again.
                                    <% } else if (error === 'No music playing') { %>
                                        No music playing. Please play a song from the queue and try again.
                                    <% } %>
                                </p>
                                <a href="/player" class="btn btn-primary">Back to Player</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </body>
    </div>
</html>